/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body, a {
    color: #111;
    font-family: 'Roboto', sans-serif;
}

.max-width {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 10px;
}

/* ==== HEADER ==== */

.nav-menu {
    display: grid;
    grid-template-columns:1fr 3fr; 
    margin: 30px 0;
}

.nav-menu img {
    margin-right: 60px;
}

.nav-menu ul li {
    display: inline;
    font-size: 16px;
    margin-right: 10px;
}

.nav-menu a:hover {
    font-weight: 500;
}

.nav-menu ul li:hover {
    font-weight: bold;
}

/*===== RECIPE ===== */

.recipe img {
    border-radius: 15px;
}

.recipe-description {
    margin-top: 50px;
    text-align: center;
}

.recipe-description h1 {
    font-size: 36px;
    font-weight: bold;
 
}

.recipe-description p {
    color: #777;
    font-size: 20px;
}

.recipe-info {
    padding: 20px 0 40px 0;
}

.recipe-info ul li {
    color: #444;
    line-height: 28px;
    list-style-type: disc;
    margin-left: 18px;
}

.recipe-info p {
    color: #444;
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0;
}


/* ==== FOOTER ==== */

.footer {
    background: #eee;
    color: #999999;
    padding: 24px 0;
    font-size: 14px;
    text-align: center;
}